<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!--
<head>
    <meta charset="UTF-8">
    <title>Liste aller Vokabeln</title>
</head> -->

<head th:replace="fragments.html :: head"></head>

<body>

    <header th:replace="fragments.html :: top">Here goes the header</header>

    <main>

    <h1>Liste aller Vokabeln</h1>
        <a class="btn btn-primary" href="/vokabel/new" role="button">Neues Wort eingeben</a>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Wort</th>
            <th scope="col">Übersetzung</th>
            <th scope="col">Bemerkung</th>
        </tr>
        </thead>
        <tbody>
        <tr scope="row" th:each="vokabel : ${vokabeln}" th:object="${vokabel}">
            <td th:text="*{id}"></td>
            <td th:text="*{word}"></td>
            <td th:text="*{translation}"></td>
            <td th:text="*{bemerkung}"></td>


            <!-- <td><img th:src="@{'/book/' + *{id} + '/image'}"/></td>   -->
            <td>
                <a th:href="@{'/vokabel/edit/' + *{id}}" class="btn btn-primary btn-sm">Edit</a>
                <a th:href="@{'/vokabel/delete/' + *{id}}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    </main>

    <footer th:replace="fragments.html :: bottom">Here goes the footer</footer>

</body>
</html>